In [1]:
import mysql.connector

In [10]:
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

In [3]:
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f73780ae5b0>
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('user',)

Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information or data, typically stored electronically in a computer system. It allows for easy retrieval, manipulation, and management of data.
SQL (Structured Query Language) databases are relational databases that store data in tables and use SQL for querying and managing data. Examples include MySQL, PostgreSQL, and Oracle.
NoSQL databases are non-relational databases that provide mechanisms for storage and retrieval of data that are modeled in ways other than the tabular relations used in relational databases. Examples include MongoDB, Cassandra, and Redis.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used for defining data structures.
CREATE is used to create new databases, tables, indexes, or other objects.
DROP is used to delete databases, tables, or other objects.
ALTER is used to modify the structure of an existing database or table.
TRUNCATE is used to remove all records from a table, but it retains the table structure.

In [17]:
import mysql.connector

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE adi")
mycursor.execute("USE adi")

mycursor.execute("CREATE TABLE users(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(50), email VARCHAR(50))")

mydb.commit()

mydb.close()

DatabaseError: 1007 (HY000): Can't create database 'adi'; database exists

In [8]:
mycursor = mydb.cursor()
mycursor.execute("USE adi")
mycursor.execute("ALTER TABLE users ADD COLUMN age INT")
mycursor.execute("TRUNCATE TABLE users")
mydb.commit()
mydb.close()

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is used for manipulating data within database objects.
INSERT is used to add new records into a table.
UPDATE is used to modify existing records in a table.
DELETE is used to remove records from a table.

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a column or a set of columns that uniquely identifies each record in a table. It must contain unique values and cannot contain NULL values.
Foreign Key: A foreign key is a column or a set of columns in one table that refers to the primary key in another table. It establishes a link between two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [26]:
# Create cursor
mycursor = mydb.cursor()

# Execute SQL query
mycursor.execute("SELECT * FROM users")

# Fetch results
result = mycursor.fetchall()
for row in result:
    print(row)

# Close connection
mydb.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution for SQL clauses in a query is as follows:

FROM: Specifies the table from which data is to be retrieved.
WHERE: Filters the rows based on a specified condition.
GROUP BY: Groups rows that have the same values in specified columns into summary rows.
HAVING: Filters the results of the GROUP BY clause based on a specified condition.
SELECT: Specifies the columns to be retrieved.
ORDER BY: Sorts the result set based on one or more columns.
LIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows.