
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Create a Pandas Series
data = pd.Series([4, 8, 15, 16, 23, 42])

# Print the Series
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:

# Create a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert list to Series
series_from_list = pd.Series(my_list)

# Print the Series
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [3]:
import pandas as pd

# Create a dictionary with the given data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 27 ],
    'Gender': ['Female', 'Male', 'Female']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


A DataFrame in Pandas is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a table in a relational database or a spreadsheet. Each column in a DataFrame is a Pandas Series. The main difference between a Pandas Series and a DataFrame is that a Series represents a single column of data, while a DataFrame is capable of storing multiple columns of data.

In [6]:

# Creating a Series
series_data = pd.Series([1, 2, 3, 4, 5])

# Creating a DataFrame
df_data = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

print("Series:")
print(series_data)
print("\nDataFrame:")
print(df_data)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame:
   A  B
0  1  4
1  2  5
2  3  6

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

head(): View the first few rows of the DataFrame.
tail(): View the last few rows of the DataFrame.
describe(): Generate descriptive statistics summary of the DataFrame.
info(): Display concise summary information about the DataFrame.
drop(): Remove rows or columns from the DataFrame.
sort_values(): Sort the DataFrame by specified column(s).
groupby(): Group DataFrame using a mapper or by a Series of columns.
merge(): Merge DataFrame or Series objects by performing a database-style join operation.
pivot_table(): Create a spreadsheet-style pivot table as a DataFrame.

In [5]:

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
        'Age': [25, 30, 35, 40, 45],
        'Salary': [50000, 60000, 70000, 80000, 90000]}
df = pd.DataFrame(data)

# View the first few rows of the DataFrame
print(df.head())

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
4     Emma   45   90000

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?


Among Series, DataFrame, and Panel, only DataFrame is mutable in nature. Both Series and Panel are immutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:

names = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Emma'])
ages = pd.Series([25, 30, 35, 40, 45])
salaries = pd.Series([50000, 60000, 70000, 80000, 90000])

# Create DataFrame using multiple Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Salary': salaries})

# Print the DataFrame
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
4     Emma   45   90000